<%# provide(:title, "パスワードを忘れた場合") %>
<h1>パスワード更新</h1>

<%= form_for(:password_reset, url: password_resets_path) do |f| %>
	<%= f.label :email %> <%# これを il8n で変えれる %>
    <%= f.email_field :email %>
    <%= f.submit "送信" %>
<% end %>
