<div id="user_edit" %>
<%= form_for(@user) do |f| %>
  <%# 後はプロフィル写真だけ。これをデプロイしてから %>
  <%= f.label :status %>（文字数は140までです）<br/>
  <%= f.text_area :status %><br/>
  <%= f.submit "送信" %>
<% end %>
</div>
