<div class="container">
  <div class="jumbotron">
    <center>
      <h2>sanbika.jpへようこそ！<span class="glyphicon glyphicon-music"></span></h2>
    </center>
    <p>
      このサイトは大きく改良されている真っ最中なので、<br/>
      ちょっと醜いのですが、基本的な機能はちゃんとついています。<br/>
      表面的な部分を更新するまでは、賛美歌のチャートを作ったりブラウスしたりしてください！
    </p>

    <center>
      <%= link_to "賛美歌チャートのリスト", {controller: "songs", action: "index"}, class: 'btn btn-primary' %>
      <%= link_to "ユーザーのリスト", {controller: "users", action: "index"}, class: 'btn btn-primary' %>
    </center>

    <br/>

    <p>
      <em>息のあるすべてのものに主をほめたたえさせよ。主をほめたたえよ。（詩篇１５０篇６節）</em>
    </p>
  </div>
</div>
