<h1>sanbika.jpへようこそ！</h1>
<h3 align="center">このサイトは大きく改良されている真っ最中なので、</h3>
<h3 align="center">ちょっと醜いのですが、基本的な機能はちゃんとついています。</h3>
<h3 align="center">表面的な部分を更新するまでは、賛美歌のチャートを作ったりブラウスしたりしてください！</h3>

<br/><br/>

<div align="center"><%= link_to "ユーザーのリスト", controller: "users", action: "index" %></div>

<br/><br/>

<h3 align="center" font-style="italic">息のあるすべてのものに主をほめたたえさせよ。主をほめたたえよ。</h3>
<h3 align="center" font-style="italic">詩篇１５０篇６節</h3>
