<div class="container">
  <div class="jumbotron">
    <center>
      <h2>いつもsanbika.jpをご利用いただき、ありがとうございます</h2>
    </center>

    <br/>

    <p>
      申し訳ないのですが、見ての通りこのサイトを改善しないといけないところは多いです。<br/>
      意見やリクエストなどがあれば、ぜひ <%=mail_to "sanbika.jp@gmail.com" %> までにメールをお送りください。

      <br/><br/>

      もし rails やフロントエンドデザインができて手伝いたいと思っている方がいれば、<br/>
      <%= link_to "github", "https://www.github.com/gazayas/sanbika_edit", target: '_blank' %> の方を見てメッセージを送りください。

      <br/><br/>

      今後もよろしくお願いします。

      <br/><br/>

      <em>息のあるすべてのものに主をほめたたえさせよ。主をほめたたえよ。（詩篇１５０篇６節）</em>

    </p>
  </div>
