<div class="panel panel-default">
  <div class="panel panel-heading text-center">
    <h2>チャートの検索</h2>
  </div>
  <table id="search_table"> <!-- width を変えた -->
    <tr>
      <td>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <%= form_tag "/songs/search", :method => 'get' do %>
            <%= text_field_tag :search, params[:search], class: 'form-control input-large', placeholder: '曲名で検索' %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%# submit_tag "検索", class: 'input-group btn btn-primary center-block', :name => nil %>
      </td>
    </tr>
  </table>
</div>

<div class="container-fluid bg-3 text-center">
  <h1>賛美歌チャート</h1>
  <div class="row">
    <% @users.each do |user| %>
      <% song_array = user.songs %>
      <% array = order_songs(song_array) %>
      <% array.each do |youso| %>
        <div class="col-sm-4 space">
          <%= link_to(
            ('<span class="song_title_text">' + youso.title + '</span>' +
            '<br/>チャートの作者：' + user.name).html_safe,
            url_for([user, youso]), class: 'btn btn-primary btn-lg outline')
          %><br/>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
