<div class="panel panel-default">
  <div class="panel panel-heading text-center">
    <h2>チャートの検索</h2>
  </div>
  <table id="search_table"> <!-- width を変えた -->
    <tr>
      <td>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <%= form_tag "/songs/search", :method => 'get' do %>
            <%= text_field_tag :search, params[:search], class: 'form-control input-large', placeholder: '曲名で検索' %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag "検索", class: 'input-group btn btn-primary center-block', :name => nil %>
      </td>
    </tr>
  </table>
</div>

<% song_array = [] %>

<% @songs.each do |song| %>
  <% song_array << song %><%# songモデルを丸ごと入れてorder_songs()に渡す %>
<% end %>

<% array = order_songs(song_array) %>

<div class="container-fluid bg-3 text-center">
  <h1>賛美歌チャート</h1>
  <div class="row">
    <% i = 0 %>
    <% @songs.length.times do %>
      <% @songs.each do |song| %>
        <% if song.title_yomikata == array[i] %>
          <% user = User.find(song.user_id) %>

              <div class="col-sm-4 space">
                <%= link_to(
                  ('<span class="song_title_text">' + song.title + '</span>' +
                  '<br/>チャートの作者：' + user.name).html_safe,
                  url_for([user, song]), class: 'btn btn-primary btn-lg outline')
                %><br/>
              </div>

        <% end %>
     <% end %>
     <% i += 1 %>
   <% end %>
  </div>
</div>
