<script>
function Replace () {

  var body = document.getElementById("print_body");
  var re = /\*/g;
  var re2 = /\*/; //よく分からないけど、これで var stars の定義をしようとしたら、４個しか帰ってきてなかった
  var stars = body.innerHTML.match(re);
  // console.log(stars);
  // console.log(stars.length);
  for (var i = 1; i <= stars.length; i++) {
    var true_star_index = i;
    console.log(true_star_index);
    if (true_star_index % 2 == 1) {
    body.innerHTML = body.innerHTML.replace(re2, "<span class=\"chord\">");
    console.log(body.innerHTML);
  } else if(true_star_index % 2 == 0){
      body.innerHTML = body.innerHTML.replace(re2, "</span>");
      console.log(body.innerHTML);
    }
  }
  var chords = document.getElementsByClassName("chord");

  for (var i = 0; i < chords.length; i++) {
    // 「b」を書くと「♭」に変換されて、「#」を書くと「♯」に変換される
    if (/b/.test(chords[i].innerHTML)) {
      chords[i].innerHTML = chords[i].innerHTML.replace(/b/, "♭");
    } else if (/#/.test(chords[i].innerHTML)) {
      chords[i].innerHTML = chords[i].innerHTML.replace(/#/, "♯");
    }
    chords[i].setAttribute("name", chords[i].innerHTML);
  }
}
$(document).ready(Replace);
$(document).on('page:load', Replace);
$(document).on('turbolinks:load', Replace);
</script>

<h2 align="center"><%= @song.title%></h2><br>
<div id="print_body"><%= simple_format @song.body %></div>
