/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.flash {
  margin: 0px auto;
  text-align: center;
  border: gray 1px solid;
}

#nav_bar {
  background-color: #000;

  height: 75px;
  width: 100%;

  line-height: 75px;

  text-align: right;

  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 10;
}

#nav_bar a {
  color: #FFF;
}

#main_wrapper {
  margin-top: 75px;
}

#sanbika {
  float: left; /* (-_-)..... */
  color: #FFF;
}
