// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_form {
	width: 40%;
	border: gray 2px solid;
	margin: 0px auto;

	table {
	margin: 0px auto;
	}
}

#forgot_password {
	font-size: small;
}

/* ログインのh1 */
#login {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 100px; 
}