// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* songs/index */
.row {
  padding: 5px;
  margin: 10px;
  a {
    margin: 10px;
    width: 90%;
    font-size: 15px;
    /*text-align: left;*/
    .song_title_text {
    }
  }
}

#search_table {
  margin: 0px auto;
  width: 50%;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #000;
	color: #000;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	/*color: #33a6cc;*/
	border-color: #0099cc;
  background-color: #0099cc;

}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}



/* new.html.erb edit.html.erb */

#song_form {
  margin: 0px auto;
  margin-top: 10px;
  input {
    margin: 5px;
  }
}


/* 以降はBoostrapではないから変えたい */

h1 { /* これをした方がいいかな... */
  margin-top: 100px;
  text-align: center;
}

/* show */
body { /* application.css にすること */
  margin: 0px auto;
}

#song_wrapper {
  text-align: center;
  margin: 0px auto;
  width: 75%;
}

#original_key {
  visibility: hidden;
}

#show_song_title {
  /*calmargin-top: 100px;*/
  background-color: #000;
  color: #FFF;

  border: gray 2px solid;
  padding: 10px;
}

#key_select {

  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;

  width: 10%;
  border: 2px gray solid;
  padding: 10px 20px;

  background-color: #000;
  color: #FFF;
  font-size: 20px;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;


  &:hover {
    background-color: #52C4CC;
    color: #FFF;
  }

}

#body {

  text-align: left;
  white-space: pre;
  line-height: 0.75em; /* これなしで歌詞とコードとの間が大きすぎる */
  padding: 10px;

  margin: 40px 0px;
  border: 2px gray solid;

}

#print_body {
  text-align: left;
  white-space: pre;
  line-height: 0.75em; /* これなしで歌詞とコードとの間が大きすぎる */
  padding: 10px;
}

/* form */
#song_form_wrapper {

  width: 70%;
  margin: 0px auto;
  margin-bottom: 80px;
  padding: 20px;
  border: 2px gray solid;

  table {
    margin: 0px auto;
    width: 60%;
  }
}

#explanation_wrapper {
  width: 70%;
  margin: 0px auto;
}

#explanation {
  padding: 20px 0px;
}



input[type=text] {
  width: 80%;
}

#song_form_continuation {
  text-align: center;
  input[type=text] {
    width: 30%;
  }
}

#song_chart {
  width: 800px;
  height: 300px;
}
