// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_user_form {
	width: 40%;
	border: gray 2px solid;
	margin: 0px auto;

	table {
	margin: 0px auto;
	}
}

/* アカウント登録のh1 */
#register {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 100px; 
}

#user_edit {
	width: 40%;
	border: gray 2px solid;
	margin: 0px auto;
	margin-top: 150px;

	text-align: center;
}

textarea {
  width: 300px;
  height: 40px;
}